- if !task.name.nil?
  %li.collection-item
    %input{type: 'checkbox', name: 'status', id: task.id, class: 'checkbox-task', data: {list_id: task.list_id}, checked: (task.status ? 'checked': nil)}
    %label{for: task.id, class: (task.status ? 'strike':nil) }= task.name
    = link_to raw('<i class="material-icons">delete</i>'), list_task_path(list_id: task.list_id, id: task.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'secondary-content'